.main {
  text-align: center;
}

.head{
  font-size: 50px;
  margin-bottom: 20px;
}
button{
  width:3%;
  height:40px; 
  margin-left: 15px;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
}
.count{
  font-size: 30px;
  margin-bottom: 20px;
}
.btn{
  color: white;
  text-align: center;
}